@import "susy";


$susy: (
  columns: 12,
  gutters: 1/6,
  container : 1440px
);

$menu_color : #005192;

img {
  max-width: 100%; 
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #EFEFF3;
  &.home {
    //background: #EFEFF3 url(../images/bannershome6_0.jpg) no-repeat top center;
    background-size: cover;
  }
}

body.home header nav ul.primary-navigation li a {
 // color: white;  
}
body.home header nav ul.primary-navigation li ul li a {
  color: black;
  &:hover {
    color: $menu_color; 
  } 
}

body.home header .logo .logo__inner {
  //background-image: url(../images/akzonobel-logo-white.svg);
}

body.home header {
  //border-bottom: 1px solid white;
}

.project-title {
  margin-bottom: 20px; 
}

header {
  @include container();
  border-bottom: 1px solid $menu_color;
  margin-bottom: 20px;
  margin-top: 10px;
  nav {
    @include span(9);
    ul.primary-navigation {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        float: left;
        margin-left: 35px;
        position: relative;
        &:first-child {
          margin-left: 0;
        }
        &:hover > ul {
          left: 0;
          right: auto;
        }
        a {
          font-size: 20px;
          color: $menu_color;
          text-decoration: none;
          line-height: 37px;
        } 
      } 
    } 
    ul.primary-navigation ul {
      border-bottom: 1px solid #d1d1d1;
      display: block;
      left: -999em;
      margin: 0;
      padding: 0;
      padding-top: 10px;
      position: absolute;
      z-index: 99999;
      &:before {
        content: "\25B2";
        color: white;
        position: absolute;
        top: -4px;
        left: 5px;
      }
      li {
        float: none;
        clear: both;
        display: block;
        margin: 0 !important;
        background: white;
        a {
          white-space: nowrap;
          font-size: 16px;
          display: block;
          padding: 0 10px;
          border-bottom: 1px solid #f0f0f0;
        }
        &:last-child a {
          border-bottom: none; 
        }
      }
    }
  }
  .logo {
    @include span(3 last);
    .logo__inner {
      background-image: url(../images/akzonobel-logo.svg);
      background-repeat: no-repeat;
      float: right;
      width: 278px;
      height: 52px; 
    }
  }
}

.wrap {
  @include container();
}

.wrap__inner {
  padding: 0 60px; 
}

.wrap-hero-slider {
  @include container(100%);
  position: relative;
  .cover {
    position: absolute;
    top: 0;
background: -moz-linear-gradient(left,  rgba(239,239,243,1) 0%, rgba(239,239,243,0) 50%);
background: -webkit-linear-gradient(left,  rgba(239,239,243,1) 0%,rgba(239,239,243,0) 50%);
background: linear-gradient(to right,  rgba(239,239,243,1) 0%,rgba(239,239,243,0) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeff3', endColorstr='#00efeff3',GradientType=1 );


    height: 100%;
    width: 10%;
    z-index: 1000;
  }
}
.hero-slider {
  background: rgba(255,255,255,0.5);
  text-align: center;
  position: relative;
  .slide {
    min-height: 400px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  .content {
    position: absolute;
    z-index: 999;
    top: 0;
    h2, h3 {
      color: white;
       
    }
  }
}

ul.blocks {
  list-style-type: none;
  padding: 0; margin: 0;
  @include container(80%);
  margin-top: 50px;
  li {
    background-image: linear-gradient(45deg,#005192 0,#55becf 100%);
    &.block .inner {
      padding: 50px 30px 20px 30px;
      min-height: 240px;
      position: relative; 
    }
    &.block-1 {
      @include span(5);
      .inner {
        .read-more {
          position: absolute;
          right: 20px;
          bottom: 20px; 
        }
      }
    }
    &.block-2 {
      @include span(7 last);
      .inner {
        .content {
          position: absolute;
          bottom: 20px; 
        }
      }
    }
    a {
      display: block;
      color: white;
      text-decoration: none;
      position: relative;
    }
    h3 {
      margin: 0;
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;
    }
  }
}

#primary {
  @include span(8);
}

main {
  h1 {
    color: $menu_color;
    font-size: 48px;
    font-weight: 700; 
  }
  h2 {
    color: $menu_color;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
  }
  p.lead {
    font-size: 24px;
    line-height: 32px; 
  }
  p {
    font-size: 20px;
    line-height: 28px; 
  }
}


footer {
  min-height: 200px;
  margin-top: 50px;
  background-image: linear-gradient(45deg,#005192 0,#55becf 100%);
  .inner {
    @include container;
    .inner__inner {
      padding: 30px 20px 50px 20px;
      h2 {
        max-width: 400px;
        color: white;
        font-size: 24px;
        line-height: 33px;
        font-weight: 200;
        b {
          font-weight: 700; 
        } 
      }
      .legal {
        color: white;
        padding-top: 50px; 
      }
      ul {
        list-style-type: none;
        padding: 0;
        border-top: 1px solid white;
        padding-top: 20px;
        li {
          display: inline;
          margin: 0 10px;
          &:first-child {
            margin-left: 0; 
          }
          a {
            color: white;
            text-decoration: none;
            border-bottom: 1px solid white;
            font-size: 18px;
          } 
        } 
      }
    }
  }
} 



