img {
  max-width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #EFEFF3; }
  body.home {
    background: #EFEFF3 url(../images/bannershome6_0.jpg) no-repeat top center;
    background-size: cover; }

body.home header nav ul.primary-navigation li a {
  color: white; }

body.home header nav ul.primary-navigation li ul li a {
  color: black; }
  body.home header nav ul.primary-navigation li ul li a:hover {
    color: #005192; }

body.home header .logo .logo__inner {
  background-image: url(../images/akzonobel-logo-white.svg); }

body.home header {
  border-bottom: 1px solid white; }

header {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #005192;
  margin-bottom: 20px;
  margin-top: 30px; }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  header nav {
    width: 74.6987951807%;
    float: left;
    margin-right: 1.2048192771%; }
    header nav ul.primary-navigation {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      header nav ul.primary-navigation li {
        float: left;
        margin-left: 35px;
        position: relative; }
        header nav ul.primary-navigation li:first-child {
          margin-left: 0; }
        header nav ul.primary-navigation li:hover > ul {
          left: 0;
          right: auto; }
        header nav ul.primary-navigation li a {
          font-size: 20px;
          color: #005192;
          text-decoration: none;
          line-height: 37px; }
    header nav ul.primary-navigation ul {
      border-bottom: 1px solid #d1d1d1;
      display: block;
      left: -999em;
      margin: 0;
      padding: 0;
      padding-top: 10px;
      position: absolute;
      z-index: 99999; }
      header nav ul.primary-navigation ul:before {
        content: "\25B2";
        color: white;
        position: absolute;
        top: -4px;
        left: 5px; }
      header nav ul.primary-navigation ul li {
        float: none;
        clear: both;
        display: block;
        margin: 0 !important;
        background: white; }
        header nav ul.primary-navigation ul li a {
          white-space: nowrap;
          font-size: 16px;
          display: block;
          padding: 0 10px;
          border-bottom: 1px solid #f0f0f0; }
        header nav ul.primary-navigation ul li:last-child a {
          border-bottom: none; }
  header .logo {
    width: 24.0963855422%;
    float: right;
    margin-right: 0; }
    header .logo .logo__inner {
      background-image: url(../images/akzonobel-logo.svg);
      background-repeat: no-repeat;
      float: right;
      width: 278px;
      height: 52px; }

.wrap {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.wrap__inner {
  padding: 0 60px; }

.wrap-hero-slider {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .wrap-hero-slider:after {
    content: " ";
    display: block;
    clear: both; }

.hero-slider {
  background: rgba(255, 255, 255, 0.5);
  min-height: 400px;
  text-align: center; }

ul.blocks {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul.blocks li {
    width: 24.0963855422%;
    float: left;
    background-size: cover; }
    ul.blocks li:nth-child(4n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    ul.blocks li:nth-child(4n + 2) {
      margin-left: 25.3012048193%;
      margin-right: -100%;
      clear: none; }
    ul.blocks li:nth-child(4n + 3) {
      margin-left: 50.6024096386%;
      margin-right: -100%;
      clear: none; }
    ul.blocks li:nth-child(4n + 4) {
      margin-left: 75.9036144578%;
      margin-right: -100%;
      clear: none; }
    ul.blocks li a {
      min-height: 200px;
      display: block;
      color: white;
      text-decoration: none;
      position: relative; }
    ul.blocks li .overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
      ul.blocks li .overlay .inner {
        margin: 10px;
        padding: 10px;
        background-image: linear-gradient(45deg, rgba(0, 139, 197, 0.9) 0, rgba(85, 190, 207, 0.9) 30%, rgba(150, 191, 13, 0.9) 61%, rgba(241, 142, 0, 0.9) 100%); }
      ul.blocks li .overlay h3 {
        margin: 0;
        font-weight: 200; }

#primary {
  width: 66.265060241%;
  float: left;
  margin-right: 1.2048192771%; }

main h1 {
  color: #005192;
  font-size: 48px;
  font-weight: 700; }

main h2 {
  color: #005192;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400; }

main p.lead {
  font-size: 24px;
  line-height: 32px; }

main p {
  font-size: 20px;
  line-height: 28px; }

footer {
  min-height: 200px; }
