main a {
  color: #005192;
  text-decoration: none;
  border-bottom: thin black solid;
  padding-bottom: -2px; }

img {
  max-width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #EFEFF3; }
  body.home {
    background-size: cover; }

body.home header nav ul.primary-navigation li ul li a {
  color: black; }
  body.home header nav ul.primary-navigation li ul li a:hover {
    color: #005192; }

body {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all; }

body.mobile-menu-active {
  position: relative;
  -webkit-transform: translateX(300px);
  transform: translateX(300px); }

.mobile-menu {
  position: absolute;
  left: -300px;
  width: 300px;
  height: 100%;
  background-image: linear-gradient(45deg, #005192 35%, #008BC5 100%); }
  .mobile-menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 0; }
    .mobile-menu ul li a {
      font-size: 18px;
      color: white;
      text-decoration: none;
      padding: 11px 10px;
      display: block; }
    .mobile-menu ul li ul {
      padding-top: 0;
      padding-bottom: 0; }

.project-title {
  margin-bottom: 20px; }

header {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #005192;
  margin-bottom: 20px;
  padding-top: 10px; }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  header nav {
    width: 83.1325301205%;
    float: left;
    margin-right: 1.2048192771%; }
    header nav .le-big-mac {
      display: block;
      background: none;
      border: 0;
      padding: 0;
      margin-top: 10px; }
      header nav .le-big-mac .menu-icon {
        position: relative; }
      header nav .le-big-mac .menu-title {
        padding-left: 20px; }
      header nav .le-big-mac span.menu-bar {
        display: block;
        position: absolute;
        background: #005192;
        width: 25px;
        height: 4px; }
        header nav .le-big-mac span.menu-bar.bar-2 {
          top: 7px; }
        header nav .le-big-mac span.menu-bar.bar-3 {
          top: 14px; }
    header nav ul.primary-navigation {
      display: none;
      padding: 0;
      margin: 0;
      list-style-type: none; }
      header nav ul.primary-navigation li {
        float: left;
        margin-left: 35px;
        position: relative; }
        header nav ul.primary-navigation li:first-child {
          margin-left: 0; }
        header nav ul.primary-navigation li:hover > ul {
          left: 0;
          right: auto; }
        header nav ul.primary-navigation li a {
          font-size: 20px;
          color: #005192;
          text-decoration: none;
          line-height: 37px; }
    header nav ul.primary-navigation ul {
      border-bottom: 1px solid #d1d1d1;
      display: block;
      left: -999em;
      margin: 0;
      padding: 0;
      position: absolute;
      background: white;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
      z-index: 99999; }
      header nav ul.primary-navigation ul:before {
        content: "\25B2";
        color: white;
        position: absolute;
        top: -14px;
        left: 5px; }
      header nav ul.primary-navigation ul li {
        float: none;
        clear: both;
        display: block;
        margin: 0 !important; }
        header nav ul.primary-navigation ul li a {
          white-space: nowrap;
          font-size: 16px;
          display: block;
          padding: 0 10px;
          border-bottom: 1px solid #f0f0f0; }
        header nav ul.primary-navigation ul li:last-child a {
          border-bottom: none; }
  header .logo {
    width: 15.6626506024%;
    float: right;
    margin-right: 0; }
    header .logo .logo__inner {
      float: right; }
      header .logo .logo__inner img {
        display: block;
        max-width: 200px; }

.wrap {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.wrap__inner {
  padding: 0 20px; }

.wrap-hero-slider {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .wrap-hero-slider:after {
    content: " ";
    display: block;
    clear: both; }
  .wrap-hero-slider .cover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    z-index: 1000; }

.hero-slider {
  background: rgba(255, 255, 255, 0.5);
  position: relative; }
  .hero-slider .slide {
    min-height: 400px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero-slider .hero-slider__content {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0; }
    .hero-slider .hero-slider__content .inner {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px; }
      .hero-slider .hero-slider__content .inner:after {
        content: " ";
        display: block;
        clear: both; }
    .hero-slider .hero-slider__content h2, .hero-slider .hero-slider__content h3, .hero-slider .hero-slider__content p {
      color: white; }
    .hero-slider .hero-slider__content h2 {
      font-size: 32px;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 0; }
    .hero-slider .hero-slider__content p {
      font-size: 18px;
      line-height: 24px;
      width: 80%; }

ul.blocks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; }
  ul.blocks:after {
    content: " ";
    display: block;
    clear: both; }
  ul.blocks li {
    margin-bottom: 1.3157894737%;
    background-image: linear-gradient(45deg, #005192 0, #55becf 100%); }
    ul.blocks li.block .inner {
      padding: 50px 30px 20px 30px;
      min-height: 240px;
      position: relative; }
      ul.blocks li.block .inner .read-more {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px; }
    ul.blocks li a {
      display: block;
      color: white;
      text-decoration: none;
      position: relative; }
    ul.blocks li h3 {
      margin: 0;
      font-size: 28px;
      line-height: 34px;
      font-weight: 700; }
    ul.blocks li p {
      line-height: 160%; }

#primary {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

main h1 {
  color: #005192;
  font-size: 32px;
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #005192 0, #008bc5 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

main h2 {
  color: #005192;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400; }

main p.lead {
  font-size: 24px;
  line-height: 32px; }

main p {
  font-size: 16px;
  line-height: 24px; }

main input[type=text], main input[type=email], main textarea {
  border: 0;
  padding: 0;
  width: 78%;
  padding: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

main input[type=submit] {
  background: #005192;
  border: none;
  color: white;
  padding: 10px 15px; }

.child-pages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 50px; }
  .child-pages a {
    color: white;
    text-decoration: none;
    min-height: 240px;
    display: block; }
  .child-pages li {
    margin-bottom: 1.3157894737%;
    background-image: linear-gradient(45deg, #005192 0, #55becf 100%); }
    .child-pages li.has-image {
      background-color: #c0c0c0;
      background-repeat: no-repeat;
      background-position: center center; }
    .child-pages li .inner {
      padding: 20px; }

footer {
  min-height: 200px;
  margin-top: 50px;
  background-image: linear-gradient(45deg, #005192 0, #55becf 100%); }
  footer .inner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto; }
    footer .inner:after {
      content: " ";
      display: block;
      clear: both; }
    footer .inner .inner__inner {
      padding: 30px 20px 50px 20px; }
      footer .inner .inner__inner h2 {
        max-width: 400px;
        color: white;
        font-size: 24px;
        line-height: 33px;
        font-weight: 200; }
        footer .inner .inner__inner h2 b {
          font-weight: 700; }
      footer .inner .inner__inner .legal {
        color: white;
        padding-top: 50px; }
      footer .inner .inner__inner ul {
        list-style-type: none;
        padding: 0;
        border-top: 1px solid white;
        padding-top: 20px; }
        footer .inner .inner__inner ul li {
          display: inline;
          margin: 0 10px;
          line-height: 32px; }
          footer .inner .inner__inner ul li:first-child {
            margin-left: 0; }
          footer .inner .inner__inner ul li a {
            color: white;
            text-decoration: none;
            border-bottom: 1px solid white;
            font-size: 18px; }

@media (min-width: 640px) {
  .child-pages li {
    width: 49.3975903614%;
    float: left; }
    .child-pages li:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .child-pages li:nth-child(2n + 2) {
      margin-left: 50.6024096386%;
      margin-right: -100%;
      clear: none; }
  .block-1 {
    width: 49.3975903614%;
    float: left;
    margin-right: 1.2048192771%; }
  .block-2, .block-4, .block-6 {
    width: 49.3975903614%;
    float: right;
    margin-right: 0; }
  .block-3, .block-5 {
    width: 49.3975903614%;
    float: left;
    margin-right: 1.2048192771%; }
  .hero-slider .hero-slider__content .inner {
    padding: 0 80px; }
  .hero-slider .hero-slider__content h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0; }
  .hero-slider .hero-slider__content p {
    font-size: 24px;
    line-height: 32px;
    width: 80%; }
  .wrap__inner {
    padding: 0 60px; }
  #primary {
    width: 74.6987951807%;
    float: left;
    margin-right: 1.2048192771%;
    padding-left: 12.6506024096%;
    padding-right: 12.6506024096%; }
  main h1 {
    font-size: 48px; }
  main p {
    font-size: 20px;
    line-height: 28px; }
  main img.bleed {
    max-width: 120%;
    margin-left: -10%; } }

@media (min-width: 1024px) {
  .child-pages li {
    width: 32.5301204819%;
    float: left; }
    .child-pages li:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .child-pages li:nth-child(3n + 2) {
      margin-left: 33.734939759%;
      margin-right: -100%;
      clear: none; }
    .child-pages li:nth-child(3n + 3) {
      margin-left: 67.4698795181%;
      margin-right: -100%;
      clear: none; }
  .block-1, .block-6 {
    width: 24.0963855422%;
    float: left;
    margin-right: 1.2048192771%; }
  .block-2, .block-4 {
    width: 40.9638554217%;
    float: left;
    margin-right: 1.2048192771%; }
  .block-3, .block-5 {
    width: 32.5301204819%;
    float: right;
    margin-right: 0; } }

@media (min-width: 1160px) {
  header nav {
    width: 83.1325301205%;
    float: left;
    margin-right: 1.2048192771%; }
    header nav .le-big-mac {
      display: none; }
    header nav ul.primary-navigation {
      display: block; }
  header .logo {
    width: 15.6626506024%;
    float: right;
    margin-right: 0; } }
